// Core variables and mixins
@import "variables.less";
@import "mixins.less";


/*==================  Panel Menu  ======================*/

#advanced{
	min-height: 50px!important;
	height: 50px!important;
	z-index: 10300!important;
	padding-top: 0!important;
  	padding-bottom: 0!important;	
  	max-width: 100%;
  	&:before, &:after{
  		display: none;
  	}
	.navbar-header {
		  color: #fff !important;
		  padding: 0 !important;
		  background: #563D7C !important;
		  position: static !important;
		  margin: 0 !important;		  
  		}		
  	.navbar-nav{	
  			text-transform: none!important;	
  			text-align: left!important;
  			margin-left: 0!important;
  			margin-right: 0!important;
  			margin-top: 6px!important;  
  			padding-top: 0!important;
  			padding-bottom: 0!important;			
  			
  		 > li{
			display: block!important;
			width: auto!important;
			// position: relative!important;
		   	padding: 0!important;
			&.divider-vertical{
				display: none!important;
				border-radius: 0!important;
			}
			> a{
				position: relative!important;
				display: block!important;
				padding: 10px 15px!important;
				text-transform: none!important;
				font-weight: 400!important;
  				font-style: normal!important;
  				border-radius: 0!important;
			}
			& + li{
				margin-left: 0;
				border: none;
			}
		}
		.dropdown-menu{
			transform: none!important;
			box-shadow: none!important;
			border: none!important;
			padding-left: 0!important;
			padding-right: 0!important;
			border-radius: 0!important;
			li{
				padding-left: 0!important;
				padding-right: 0!important;
				display: block!important;
				border-radius: 0!important;
				a{
					display: block!important;
					font-weight: 400!important;
  					font-style: normal!important;
  					border-radius: 0!important;
				}
			}
		}
	}
	nav, .nav, .navbar-nav{
		li, a{
			border: none!important;
			box-shadow: none!important;
			&:before,
			&:after{
				display: none!important;
			}
			&.glyphicon-home{
				&:before,
				&:after{
				display: inline-block!important;
			}
			}
			span:not([class="caret"]){
				display: none!important;
			}
		}		
	}
}


@media (min-width:768px){
	#advanced{
		.navbar-toggle{
			display: none;
		}
		.collapse{
			display: block;
		}


		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
		.dropdown-menu{
			padding: 0!important;
			border: 1px solid rgba(0,0,0,.3)!important;
			box-shadow: none!important;
			text-align: left!important;
			// padding-left: 5px!important;
			text-transform: none!important;
			top:98%!important;
			left: 0!important;
			text-transform: none!important;
			&:before, &:after{
				display: none!important;
			}
			li + li{
				border: none!important;
				box-shadow: none!important;
			}
			li:before,
			li:after{
				display: none!important;
			}
			li a:before,
			li a:after{
				display: none!important;
			}
			li a{
				text-transform: none!important;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
				padding: 7px 22px!important;
				box-shadow: none!important;
				border: none!important;
			}
			li{
				border: none!important;
				box-shadow: none!important;
			}
		}
		
	}
}
@media (max-width:767px){
	#panel{
	    right: 14px;
	    position: fixed;
	    top: 6px;
	    width: auto;
	    z-index: 9999999999999;
	    .transition(0.3s);
	   
		#advanced{
			display: block;
		}
		.navbar-inverse{
			background: transparent!important;
	    	box-shadow: none!important;
	    	border: none!important;
		}
	    .bs-docs-nav{
	    	background: transparent!important;
	    	box-shadow: none!important;
	    	border: none!important;
	    	.navbar-nav{
	    		display: block!important;
	    		li{
	    			position: static!important;
	    		}
	    	}
	        // border-radius: 7px;
	        // top: 4px;
	        .navbar-header{
	            .navbar-toggle{
	                border: none!important;
	                padding: 6px 7px!important;
	                // padding: 0!important;
	                margin: 0px!important;
	                float: none!important;
	                position: absolute!important;
	                top: -3px!important;
	                right: -1px!important;
	                background: transparent!important;
	                box-shadow: none!important;
	                height: 48px;
					width: 28px;
					.transition(.3s);
	                
					
					.icon-bar {
				     	// background-color: @tm_panel_tgl_clr!important;
				    	display: block!important;
					    width: 4px!important;
					    height: 4px!important;
					    .border-radius(50%)!important;
					    // border:2px solid #4d4d4d!important;
					    margin-left: auto;
						// margin-right: auto;						
						.transition(.3s);
					  }
					  .icon-bar + .icon-bar {
					    margin-top: 3px!important;
					  }

					  @media (min-width: @grid-float-breakpoint) {
					    display: none!important;
  						}  					

	                &:hover{
	                    background: transparent!important; 	                    
						                   
	                }            
	                &:active{
	                    background: #563D7C!important;
	                    
	                }
	                &:focus{
	                    background: transparent!important;
	                    outline: 0;
	                    
	                }
	            }
	        }
	    }
		#advanced{
			.navbar-collapse{       
		        background: #563D7C;
		        width:175px;
		        position: absolute;
		        right: 4px;
		        top: 50px;
		        // padding-bottom: 10px;
		        .transition(0.3s);

		        @media (max-width:425px){
		        	width:135px;	        	
		        }
		        &:hover{
		        } 
		        .dropdown-menu{	
		        	background: #563D7C;		// submenu lvl_2
		        	top: 100%!important;
		        	left: 0!important;
		        	display: none;
		            // padding-bottom: 15px;
		            min-width: 135px!important;		
		            text-align: left!important;
					padding-left: 0!important;
					text-transform: none!important;
					&:before, &:after{
						display: none!important;
					}    
					li + li{
							border: none!important;
							box-shadow: none!important;
						} 
					li:before,
					li:after{
						display: none!important;
					}
					li a:before,
					li a:after{
						display: none!important;
					}
					li a{
						text-transform: none!important;
						font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
						padding: 7px 22px!important;
						box-shadow: none!important;
						border: none!important;
					}  
					li{
						border: none!important;
						box-shadow: none!important;
						.pages li a{
							padding-left: 32px!important;
						}
					}     	            
		        }
		    }
		    .navbar-collapse.in{	    	
		        overflow-y: visible;
		    }
		}

	}    
	    
}

// submenu lvl_2

@media (max-width:767px){

	.navbar-nav .open .dropdown-menu{		
			display: block!important;
		    li{
		    	a{
		    		// padding-left: 15px!important;
		    		// text-transform: none!important;
					// font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
					// padding: 7px 22px!important;
					margin-left: 0!important;
		    	}
		    }	    	
		    ul.pages{
		    	padding-left: 0px!important;
		    	// li a{
		    	// 	padding-left: 23px!important;
		    	// }		    
		    }
		    a{
		    	padding-left: 12px!important;
		    }
		    li + li{
					border: none!important;
					box-shadow: none!important;
				} 
			li:before,
			li:after{
				display: none!important;
			}
			li a:before,
			li a:after{
				display: none!important;
			}
			li a{
				text-transform: none!important;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
				// padding: 7px 22px!important;
				box-shadow: none!important;
				border: none!important;
			}  
			li{
				border: none!important;
				box-shadow: none!important;
			}     	
		}
	@media (max-height: 550px){
		#panel #advanced .navbar-collapse .dropdown-menu{		
			font-size: 9px!important;
			position: absolute!important;
			background: lighten(#563D7C,5%)!important;
			min-width: 135px!important;
		    top: 0!important;
		    right: 100%!important;
		    left: -100%!important;
		    .transition(0.3s)!important;
		    li{
		    	a{
		    		padding-left: 15px!important;
		    	}
		    }
		    a{
		    	padding-left: 12px!important;
		    }

		    ul{
		    	// padding-left: 23px!important;
		    	a{
		    		padding-left: 5px;
		    	}
		    }
		    
		}	            	
	}
}

	// #panel .navbar-nav .dropdown ul li .pages li a{
	// 	padding-left: 32px!important;
	// }
