//
// Wells
// --------------------------------------------------


// Base class
.well {
  padding-bottom: 50px;
  padding-top: 50px;
}

// Sizes
.well-lg {
  padding: 24px;
  border-radius: @border-radius-large;
}
.well-sm {
  padding: 9px;
  border-radius: @border-radius-small;
}

.well1 {
  padding-bottom: 121px;
  padding-top: 117px;
}

.well2 {
  padding-bottom: 79px;
  padding-top: 68px;
}

.well3 {
  padding-bottom: 84px;
  padding-top: 88px;
}
.well3_ins1{
  padding-bottom: 96px;
}
.well3_ins2{
  padding-bottom: 93px;
}
.well4 {
  padding-bottom: 113px;
  padding-top: 121px;
  @media (max-width: 767px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.well5 {
  padding-bottom: 79px;
  padding-top: 72px;
}
.well5_ins1{
  padding-bottom: 84px;
}
.well5_ins2{
  padding-bottom: 88px;
}

.well6 {
  padding-bottom: 104px;
  padding-top: 110px;
}

.well7 {
  padding-bottom: 83px;
  padding-top: 76px;
}