
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img src="images/wf-logo.gif" style="height: 40px;" alt=""></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active" id="home"><a href="index.html">Home</a></li>
				<li id="banking"><a href="#" >Banking</a></li>
				<li  id="autoloan"> <a href="#">Auto Loans</a></li>
				<li id="mortgage"><a href="#" >Mortgage</a></li>
				<li  id="login"><a href="login.html">Login</a></li>
				<li id="livehelp"><a href="#" >Live Help</a></li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
	<!--/.container-fluid -->
</nav>